APP_NAME=AI Agent Task Platform
APP_ENV=dev
DEBUG=true

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/agent_task_db

JWT_SECRET_KEY=please-change-this-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

LOG_LEVEL=INFO
